.calendar{
  position:relative;
  background-color:var(--color-origin);
}
.heading {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
  height:50px;
  button {
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid transparent;
    transition: var(--transition-border);
    &:hover, &:focus { 
      border-color: var(--color-point);
    }
  }
  i {
    width:25px;
    height:25px;
  }
  .ym{
    font-size:18px;
  }
}
.week{ 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 14px;
  & > span{ 
    padding: 6px 0;
    color: var(--color-text);
    &.s-day, &.h-day {
      color:$color-red;
    }
    &.t-day{
      color:$color-blue;
    }
  }
}
.dateGrid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  span.dayCell{
    display:block;
    text-align:center;
    .day{
      line-height:26px;
      padding:0;
    }
  }
}
.dayCell{
  overflow:hidden;
  position:relative;
  min-height:30px;
  border-radius:5px;
  &.selected{
    background-color: var(--color-point-bg);
    border-radius:0;
  }
  &.start{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:var(--color-point);
    color:var(--color-point-text);
  }
  &.end{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:var(--color-point);
    color:var(--color-point-text);
  }
  &.holidays{
    font-weight:600;
    color:$color-red;
  }
  &.today{
    font-weight:600;
    color:var(--color-point);
    .day {
      border-radius:50%;
      background: var(--color-origin);
      border:1px solid var(--color-point);
    }
  }
  &.p, &.n {
    font-size:14px;
    color: var(--color-sub-text);
  }
  .eventDay{
    display:none;
  }
}
.day{
  display:inline-block;
  padding:3px;
  width:26px;
  height:26px;
}