.calendar{
  position:relative;
  background-color:var(--color-origin);
}
.heading {
  display:flex;
  justify-content: space-between;
}
.week{ 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 14px;
  & > span{ 
    padding: 6px 0;
    color: var(--color-text);
    &.s-day, &.h-day {
      color:$color-red;
    }
    &.t-day{
      color:$color-blue;
    }
  }
}
.dateGrid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 44px;
  gap: 2px;
}
.dayCell{
  overflow:hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  border:none;
  .day{ 
    display:block;
    width:100%;
    height:100%;
    padding:5px;
    border-radius:5px;
  }
  &:hover, &:focus {
    .day{
      
    }
  }
  &.p, &.n {
    color: var(--color-sub-text);
  }
  &.today{
    .day{
      border:1px solid var(--color-point);
      font-weight:600;
      color:var(--color-point);
    }
  }
  &.selected{
    .day{
      background-color: var(--color-point-bg);
    }
  }
  &.start, &.end{
    .day{
      background-color:var(--color-point);
      color:var(--color-point-text);
    }
  }
  &.holidays{
    .day{
      font-weight:600;
      color:$color-red;
    }
  }
  .eventDay{
    display:none;
  }
}