
.hubCalendar {
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.heading{
  padding:8px 10px;
  background-color:$color-dark-navy;
  font-size:rem(14px);
  color:$color-title-w;
  text-align: center;
}

.calendarDay{
  height:44px;
}