$grid-columns: 100px 1fr 100px 100px 100px;

.table {
  display: grid;
  grid-template-columns: $grid-columns;
  width: 100%;
}

.row {
  display: contents; 
  &:first-child > .cell {
    border-top: 0;
  }
}

.cell {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  border:1px solid var(--color-line);
  border-bottom:0;
  border-right:0;
  transition: var(--transition-bg);
  &:last-child {
    border-right: 1px solid var(--color-line);
  }
  & > * {
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
}

.thead {
  display: contents;
  .row {
    .cell{
      background-color: $color-dark-navy;
      font-size: rem(14px);
      font-weight: 600;
      border-top: 0;
      color: $color-title-w;
      &:first-child{
        border-left: 1px solid $color-dark-navy;
        border-top-left-radius: 5px;
      }
      &:last-child {
        border-right: 1px solid $color-dark-navy;
        border-top-right-radius: 5px;
      }
    }
  }
}

.tbody {
  display: contents;
  .cell {
    font-size: rem(16px);
  }
  .row{
    &:last-child{
      .cell{
        border-bottom:1px solid var(--color-line);
        &:first-child{
          border-bottom-left-radius: 5px;
        }
        &:last-child{
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

.roomBtn{
  overflow:hidden;
  position:relative;
  width:100%;
  &:hover, &:focus {
    span{
      color:var(--color-point);
    }
    i {
      opacity:1;
      transform: translateX(0);
    }
  }
  & > span{
    @include ellipsis();
    transition: var(--transition-color);
  }
  i {
    position:absolute;
    right:10px;
    width:20px;
    height:20px;
    opacity:0;
    transform: translateX(20px);
    color:var(--color-point);
    transition: var(--transition-transform), var(--transition-opacity);
  }
}
.createdAt{
  font-size:14px;
  color: var(--color-sub-text);
}