
.hubCalendar {
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.heading{
  padding:8px 10px;
  background-color:$color-dark-navy;
  font-size:rem(14px);
  color:$color-title-w;
  text-align: center;
}
.calendar{
  border:1px solid var(--color-line);
  border-top:0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.calendarDay{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height:40px;
}

.event{
  position:absolute;
  width:3px;
  height:3px;
  border-radius: 50%;
  background-color: var(--color-point);
  text-indent: -9999px;
}