.hubCategory{
  overflow: auto hidden;
  position:relative;
  width:100%;
  height:260px;
  mask-image: linear-gradient(to left, transparent 0%, var(--color-bg) 80px);
}
.categoryItem{
  width:320px;
  height:260px;
  &:last-child {
    padding-right: 50px;
    box-sizing: inherit;
  }
}
.totalItem{ 
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  .categoryTag{
    display:inline-block;
    height:20px;
    padding:0 10px;
    border-radius:5px;
    background-color:$color-dark-bg;
    font-size:14px;
    color:$color-text-w;
    line-height:20px;
  }
}
// 개별 box
.listsBox{
  display:flex;
  flex-direction: column;
  gap:20px;
  justify-content: space-between;
  position:relative;
  width:calc(100% - 20px);
  height:180px;
  padding:20px;
  border-radius:5px;
  border:1px solid var(--color-origin-on);
  background-color:#fff;
  box-shadow: var(--box-shadow);
  background-color:var(--color-origin-on);
  transform:0;
  // transition: var(--transition-opacity), var(--transition-transform);
  .title{
    padding-right:30px;
    font-size:rem(18px);
  }
  .totalNum{
    display:flex;
    padding-left:20px;
    align-items: center;
    gap:20px;
    i {
      display:inline-block;
      position: relative;
      width:35px;
      height:35px;
      &::before{
        position:absolute;
        top: 50%;
        left:50%;
        width:130%;
        height:130%;
        border:1px solid var(--color-line);
        border-radius:50%;
        transform:translate(-50%,-50%);
        content:'';
      }
    }
    .num{
      font-size:24px;
      font-weight:600;
    }
  }
  .desc{
    visibility: hidden;
    font-size:14px;
    color: var(--color-desc);
    letter-spacing: -0.8px;
  }
}

// carousel 관련
:global{ 
  .total-carousel {
    [data-carousel="on"]{
      .list-box{
        transition: var(--transition-opacity), var(--transition-transform);
      }
    }
    .swiper-initialized{
      .list-box {
        p {
          // LCP
          visibility: visible;
        }
      }
    }
    .swiper {
      pointer-events: none;
    }
    .swiper-slide {
      display:flex;
      justify-content: center;
      padding:20px 0;
      &-next {
        .list-box {
          transform: translateY(-20px) scale(0.9);
          opacity: 0.8;
        }
        & + .swiper-slide {
          &:not(&-prev):not(&-active):not(&-next) {
            .list-box {
              transform: translateY(-40px) scale(0.8) !important;
              opacity: 0.7 !important;
            }
          }
        }
      }
      // 3 이후에 위치한 박스 마지막 박스로 붙는 효과 내기 위함 
      &:not(&-prev):not(&-active):not(&-next) {
        .list-box {
          transform: translateY(-60px) scale(0.7);
          opacity: 0;
        }
      }
      &-active {
        // pointer-events: initial;
      }
    }
    .carousel-navigation{
      $btnSize:20px;
      .btn{
        top:40px;
        width:$btnSize;
        height:$btnSize;
        transform: none;
        i {
          width:$btnSize;
          height:$btnSize;
        }
        &.prev {
          left:auto;
          right:calc($btnSize + 20px);
        }
        &.next{
          left:auto;
          right:20px;
        }
      }
    }
  }
}
