.hubMain{ 
  padding:30px 0 30px 30px;
}
.heading{
  .title{
    font-size: rem(28px);
  }
  .desc{
    margin-top:10px;
    font-size: rem(18px);
  }
  .btnWrap{
    margin-top:20px;
  }
  .btnAdd{
    display:flex;
    gap:5px;
    align-items: center;
    & > i {
      width:15px;
      height:15px;
    }
  }
}

.categoryWrap{
  margin-top:20px;
}


.contWrap{
  display:flex;
  gap:10px;
}
.cont{
  width: calc(100% - 300px);
}
.subSide{
  flex-shrink: 0;
  width:300px;
  border:1px solid #dbdbdb;
  
  display:flex;
  flex-direction: column;
  gap:20px;

}

@include mob { 
  
}