.hubMain{ 
  padding:30px 0 30px 30px;
}
.heading{
  .title{
    font-size: rem(28px);
  }
  .desc{
    margin-top:10px;
    font-size: rem(18px);
  }
  .btnWrap{
    margin-top:20px;
  }
}

.categoryWrap{
  margin-top:20px;
}

.contWrap{
  display:flex;
  gap:10px;
}
.cont{
  width: calc(100% - 300px);
}
.subSide{
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  width:300px;
  gap:20px;
}

@include mob { 
  
}