.hub{ 
  display:flex;
  width:100%;
  max-width:$bp-pc;
  min-height:100svh;
  margin:0 auto;
  padding:var(--header-h) 30px 0;
}
.side{
  width:60px;
}
.sideInner{
  width:100%;
  height:100%;
  background-color: var(--color);
}
.cont{
  width:calc(100% - 60px);
}

@include mob {
  .hub{
    padding:0;
  }
}