.link{
  display:inline-flex;
  align-items: center;
  gap:5px;
  position:relative;
  padding-bottom:1px;
  &::after{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    border-radius:5px;
    background-color: var(--color-point);
    transform-origin:left;
    transform: scaleX(0);
    transition: var(--transition-transform);
    content:'';
  }
  &:hover, &:focus{ 
    &::after{
      transform: scaleX(1);
    }
  }
  .icon{
    display:inline-block;
    width:20px;
    height:20px;
  }
}