
.loadingWrap{
  position:absolute;
  z-index:100;
  top:0;
  left:0;
  width:100%;
  height:100%;
  &.isFixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  &.dimmed{
    background-color: var(--opacity-bg);
    
  }
  .loading{
    position:absolute;
    top:50%;
    left:50%;
    width:45px;
    height:45px;
    transform: translate(-50%, -50%);
  }
  .aniBox{
    width:100%;
    height:100%;    
    animation: loading-center-absolute 1s infinite;
  }
  .cube {
    position:absolute;
    width:15px;
    height:15px;
    border-radius:5px;
    background-color:var(--color-point);
    &:nth-child(1){
      top:0;
      left:0;
      animation: cubeAni1 1s infinite;
    }
    &:nth-child(2){
      top:0;
      right:0;
      animation: cubeAni2 1s infinite;
    }
    &:nth-child(3){
      bottom:0;
      right:0;
      animation: cubeAni3 1s infinite;
    }
    &:nth-child(4){
      bottom:0;
      left:0;
      animation: cubeAni4 1s infinite;
    }
  }
}


@keyframes loading-center-absolute{
  100% {
    transform: rotate(360deg); 
  }
}	
@keyframes cubeAni1{
  50% {
    transform: translate(20px,20px) rotate(180deg);
  }
}
@keyframes cubeAni2{
  50% {
    transform: translate(-20px,20px) rotate(-180deg);
  }
}
@keyframes cubeAni3{
  50% {
    transform: translate(-20px,-20px) rotate(180deg);
  }
}
@keyframes cubeAni4{
  50% {
    transform: translate(20px,-20px) rotate(-180deg);
  }
}
.txt { 
  position:absolute;
  top:50%;
  left:50%;
  font-size:12px;
  color: var(--color-title);
  transform:translate(-50%,-50%);
  text-shadow: ar(--text-shadow);
}