# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies / build
node_modules
dist
dist-ssr

# Env
*.local
.env

# Vite config
# (공통 빌드 설정이므로 Git으로 관리함)
# vite.config.js
# vite.config.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
