.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.gapArrow{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-title);
}
.breadcrumbBtn {
  font-size: rem(16px);
  text-align: left;
  color: var(--color-title);
  &.active {
    span{ 
      position:relative;
      &::after{
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:2px;
        border-radius:2px;
        background-color: var(--color-point);
        content:'';
      }
    }
  }
}

.dropdownContainer {
  position: relative;
}

.dropdownBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  color: var(--color-title);
  cursor: pointer;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(16px);
    height: rem(16px);
  }
}

.dropdownMenu {
  overflow:hidden;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  min-width: 150px;
  margin-top: 4px;
  border-radius: 5px;
  background-color:var(--color-origin-on);
  box-shadow: var(--box-shadow);
}

.dropdownItem {
  padding: 4px 10px;
}

.dropdownItem .breadcrumbButton {
  width: 100%;
  text-align: left;
}

.dropdownItem:hover {
  .breadcrumbBtn {
    width: 100%;
  }
  background: var(--color-bg);
}