
.membersWrap{
  position:relative;
  max-width: $bp-pc;
  margin:0 auto;
  padding:var(--header-h) 30px 0;
  &.signup{
    .loginWrap{
      opacity:0;
    }
    .cover {
      &::before{
        opacity:0;
      }
      &::after{
        opacity:1;  
      }
      transform: translateX(0);
    }
    .textWrap {
      &::before {
        background-color: $color-yellow;
      }
    }
  }
  &.login {
    .signupWrap{
      opacity:0;
    }
  }
}
.inner{
  display:flex;
  gap:10px;
  position:relative;
  width:100%;
  min-height: var(--min-h);
  padding:10px;
}
.memberForm{
  display:flex;
  justify-content: center;
  align-items: center;
  width:calc(50% - 5px);
  transition: var(--transition-opacity);
}
.signupWrap{
  width:calc(50% - 5px);
  transition: var(--transition-opacity);
}
.cover{
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position:absolute;
  z-index:2;
  top:10px;
  left:10px;
  width:calc(50% - 15px);
  height:calc(100% - 20px);
  padding:50px 10px 80px;
  border-radius:5px;
  background-color: $color-dark-navy;
  transform: translateX(calc(100% + 10px));
  transition: transform 1.5s ease;
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: opacity 1.5s ease;
  }
  &::before {
    background: linear-gradient(120deg, rgba(3, 5, 58,1) 10%,rgba(5, 11, 33, 1) 60%);
    opacity: 1;
  }
  &::after{
    background: linear-gradient(-120deg, rgba(3, 5, 58,1) 10%,rgba(5, 11, 33, 1) 60%);
    opacity: 0;
  }
  .heading{
    display:flex;
    justify-content: center;
    position:relative;
    z-index:2;
  }
}
.textWrap{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align:center;
  z-index:2;
  &::before{
    position:absolute;
    top:-30px;
    left:50%;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: $color-green;
    transition: var(--transition-bg);
    content:'';
    transform: translateX(-50%);
  }
  .title{
    font-size:rem(24px);
    color: $color-title-w;
    animation: fadeUpAni 0.3s ease both; 
  }
  .desc{
    margin-top:10px;
    font-size:14px;
    color: $color-sub-text-w;
    animation: fadeUpAni 0.3s ease 0.3s both; 
  }
}

@include mob {
  .membersWrap{
    height: 100svh;
    padding:0 15px;
  }
  .inner{
    display:block;
    padding: var(--header-h) 0 0;
  }
  .memberForm{
    width:100%;
  }
}