.myPageWrap{ 
  padding:var(--header-h) 0 0;
  min-height: 100svh;
}

.headWrap{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width:100%;
  height:250px;
  background-color: $color-dark-navy;
  transition: var(--transition-bg);
  .heading{
    text-align:center;
  }
  .title{
    font-size: rem(36px);
    color:$color-title-w;
  }
  .desc{
    margin-top:8px;
    font-size:14px;
    color: $color-desc-w;
  }
}

.contWrap{
  display:flex;
  gap:10px;
  width:100%;
  @include contInner;
  margin-top:30px;
}
.userInfo{
  width:200px;
  padding:30px;
  border:1px solid var(--color-line);
  border-radius:5px;
}

.profileImg{
  overflow:hidden;
  position:relative;
  width:100px;
  height:100px;
  margin: 0 auto;
  border:1px solid var(--color-line);
  border-radius:50%;
  &.notImg{
    background-color:$color-disabled;
  }
  .icon{
    position:absolute;
    top:50%;
    left:50%;
    width:60%;
    height:60%;
    transform: translate(-50%, -50%);
    color:var(--color-point);
  }
}
.name{
  margin-top:10px;
  font-size:18px;
  text-align:center;
}

.detail{
  width:calc( 100% - 260px);
  border-radius:5px;
  border:1px solid var(--color-line);
}