$pcSideSize: 200px;
.wrap{ 
  min-height: 100svh;
}
.inner{
  width:100%;
  @include contInner;
}
.cont{
  display:flex;
  gap:20px;
  padding:30px 0;
}
.sideMenu{
  width:$pcSideSize;
  padding:30px;
  border:1px solid var(--color-line);
  border-radius:5px;
  box-shadow: var(--box-shadow);
}

.profileImg{
  overflow:hidden;
  position:relative;
  width:100px;
  height:100px;
  margin: 0 auto;
  border:1px solid var(--color-line);
  border-radius:50%;
  &.notImg{
    background-color:$color-disabled;
  }
  .icon{
    position:absolute;
    top:50%;
    left:50%;
    width:60%;
    height:60%;
    transform: translate(-50%, -50%);
    color:var(--color-point);
  }
}
.name{
  margin-top:10px;
  font-size:18px;
  text-align:center;
}
.menuWrap{
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid var(--color-line);
}
.menu{
  display:flex;
  flex-direction: column;
  gap:5px;
  .menuBtn{
    width:100%;
    padding:0 5px;
    text-align:left;
    span {
      position:relative;
      padding:5px 0;
      &::after{
        position:absolute;
        left:0;
        bottom:0;
        width: 100%;
        height:2px;
        border-radius:1px;
        background-color: var(--color-point);
        transform: scaleX(0);
        transition: var(--transition-transform);
        transform-origin: left;
        content:'';
      }
    }
    &.active { 
      color: var(--color-point);
      span {
        &::after{
          transform: scaleX(1);
        }
      }
    }
  }
}
.bottomMenu{
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid var(--color-line);
}
// content right
.detail{
  width:calc( 100% - $pcSideSize - 20px);
}

.preparing{
  display:flex;
  justify-content: center;
  align-items: center;
  height:300px;
}

@include mob {
  .cont{
    flex-direction: column;
    padding:20px 0;
  }
  .sideMenu{
    width:100%;
    padding:20px 15px;
  }
  .menu{
    flex-direction: row;
  }
  .detail{
    width:100%;
  }
}