.accItem{
  &.open{
    .accContent{
      display:block;
    }
  }
  &.smooth {
    .accContent{
      height: 0;
      transition: height 0.3s ease-in-out;
    }
    &.open{
      [data-ani-time='off'] {
        height:auto !important;
      }
    }
  }
  &.full {
    .accBtn, .accTit{
      display:block;
      width:100%;
    }
  }
}
.accHead{
  position:relative;
}
.accContent{
  display:none;
  overflow: hidden;
  position:relative;
}
.accInner{
  width:100%;
}
.accBtn{
  padding:5px 0;
}
.accBtn, .accTit {
  display:inline-block;
  text-align:left;
  svg { 
    max-width:30px;
    max-height:30px;
  }
}
