.accordionWrap{
  position:relative;
  width:100%;
}

.empty{
  display:flex;
  gap:5px;
  align-items: center;
  .icon{
    display:inline-block;
    width:20px;
    height:20px;
    color:var(--color-title);
  }
}