.module{
  display: flex;
  position: relative;
  width: 100%;
  &.searchBtn {
    .icon {
      height:100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left:0;
    }
    .inputItem {
      & > input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
.icon {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border:1px solid var(--color-line);
  & > i {
    display:block;
    width:25px;
    height:25px;
  }
  &.ui{
    flex-shrink: 0;
    width:40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:0;
  }
}
.inputItem {
  flex-grow: 1;
  & > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.error{
  overflow: hidden;
  position: absolute;
  z-index:10;
  top: 100%;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  color: $color-red;
  & > span {
    display: block;
  }
}
.btn {
  width: 40px;
}