.loginWrap{
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  width:100%;
  padding:30px;
  max-width:500px;
  min-height:500px;
}
.icon{
  overflow: hidden;
  position:relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3f4f4;
  box-shadow: inset -2px 3px 4px rgba(0, 0, 0, 0.05);
  &::after{
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
    width:100%;
    height:100%;
    border:1px solid var(--color-point);    
    border-radius:50%;
    content:'';
    animation: aniIconLine 2s ease infinite;
  }
  i {
    position:absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:30px;
    height:30px;
    padding:5px;
    border-radius:50%;
    background-color: var(--opacity-bg);
    color: var(--color-point);
  }
}
@keyframes aniIconLine {
  0% {
    transform: translate(-50%,-50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%,-50%) scale(0.5);
    opacity: 0;
  }
}
.title{
  margin-top:20px;
  font-size:28px;
  color: var(--color-title);
}

.loginForm{
  margin-top:20px;
}

.authenticationDivider{
  position:relative;
  width:100%;
  text-align:center;
  margin:10px 0;
  &::after{
    position:absolute;
    top:50%;
    left:50%;
    width:50%;
    height:1px;
    background-color: var(--color-line);
    transform: translate(-50%, 50%);
    content:'';
  }
  span {
    position:relative;
    z-index: 1;
    padding:0 10px;
    font-size:12px;
    background-color: var(--color-bg);
  }
}
.googleWrap{
  
}
.googleBtn{
  display:flex;
  gap:5px;
  align-items: center;
  i {
    width:20px;
    height:20px;
  }
}
.signupBox{
  display:flex;
  gap:5px;
  align-items: end;
  margin-top:20px;
  .text {
    font-size:14px;
    line-height:1;
    color: var(--color-sub-text);
  }
  .signupBtn{
    font-weight:600;
    color: var(--color-point);
  }
}