.membersInner{
  display:flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  width:100%;
  padding:30px;
  max-width:500px;
  min-height:500px;
  &.lock {
    pointer-events: none;
  }
}
.icon{
  overflow: hidden;
  position:relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3f4f4;
  box-shadow: inset -2px 3px 4px rgba(0, 0, 0, 0.05);
  &::after{
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
    width:100%;
    height:100%;
    border:1px solid var(--color-point);    
    border-radius:50%;
    content:'';
    animation: aniIconLine 2s ease infinite;
  }
  i {
    position:absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:30px;
    height:30px;
    padding:5px;
    border-radius:50%;
    background-color: var(--opacity-bg);
    color: var(--color-point);
  }
}
@keyframes aniIconLine {
  0% {
    transform: translate(-50%,-50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%,-50%) scale(0.5);
    opacity: 0;
  }
}
.title{
  margin-top:20px;
  font-size:28px;
  color: var(--color-title);
}

.formWrap{
  margin-top:10px;
}

.checkboxWrap {
  display:flex;
  gap:10px; 
  margin-top:15px;
}

.authenticationDivider{
  position:relative;
  width:100%;
  text-align:center;
  margin:10px 0;
  &::after{
    position:absolute;
    top:50%;
    left:50%;
    width:50%;
    height:1px;
    background-color: var(--color-line);
    transform: translate(-50%, 50%);
    content:'';
  }
  span {
    position:relative;
    z-index: 1;
    padding:0 10px;
    font-size:12px;
    background-color: var(--color-bg);
  }
}
.googleBtn{
  display:flex;
  gap:5px;
  align-items: center;
  i {
    width:20px;
    height:20px;
  }
}
.modeBox{
  display:flex;
  gap:5px;
  align-items: end;
  margin-top:20px;
  .text {
    font-size:14px;
    line-height:1;
    color: var(--color-sub-text);
  }
  .modeBtn{
    font-weight:600;
    color: var(--color-point);
  }
}
.alert{
  .tit{
    font-size:rem(18px);
    font-weight:600;
  }
  .btnWrap{
    margin-top:20px;
  }
}

.ani{
  .icon{
    animation: fadeUpAni 0.3s ease both; 
  }
  .title{
    animation: fadeUpAni 0.3s ease 0.2s both; 
  }
  .formWrap{
    animation: fadeUpAni 0.3s ease 0.4s both; 
  }
  &.signup{
    .modeBox{
      animation: fadeUpAni 0.3s ease 0.6s both; 
    }
  }
  &.login{
    .checkboxWrap{
      animation: fadeUpAni 0.3s ease 0.6s both; 
    }
    .authenticationDivider{
      animation: fadeUpAni 0.3s ease 0.8s both; 
    }
    .googleBtn{
      animation: fadeUpAni 0.3s ease 1s both; 
    }
    .modeBox{
      animation: fadeUpAni 0.3s ease 1.2s both; 
    }
  }
}

@include mob {
  .membersInner{
    padding: 30px 0;
  }
}