.member{
  display:block;
  position:relative;
  &:hover{
    .name{
      opacity:1;
    }
  }
}
.profile{
  overflow:hidden; 
  position:relative;
  width:26px;
  height:26px;
  border:1px solid var(--color-line);
  border-radius:50%;
}
.icon{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  i {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:none;
    color:#fff;
    mix-blend-mode: difference;
  }
}
.name{
  display:inline-block;
  position:absolute;
  top:80%;
  left:0;
  z-index:2;
  padding:2px 4px;
  border-radius:3px;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  font-size:14px;
  white-space: nowrap;
  opacity:0;
  transition: var(--transition-opacity);
  pointer-events: none;
}