.heading{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.content{ 
  margin-top:20px;
}
.thead {
  .row {
    & > span {
      padding:3px 5px;
      font-size:12px;
      color:var(--color-sub-text);
    }
  }
}
.tbody{
  border-top:1px solid $color-line-black;
  .row {
    padding:5px 0;
    border-bottom:1px solid var(--color-line);
    & > span {
      position:relative;
      padding-left:2px;
      &::before{
        position:absolute;
        top:50%;
        left:0;
        width:1px;
        height:40%;
        background-color: var(--color-line);
        transform: translateY(-50%);
        content:'';
      }
      &:first-child{
        padding-left:0;
        &::before{
          display:none;
        }
      }
    }
    input {
      border-color:transparent;
      &:focus {
        border-color: var(--color-point);
      }
    }
  }
}
.row {
  $t1:25px;
  $t2:120px;
  $t4:100px;
  $t5:60px;
  $t6:150px;
  $t7:30px;
  display:flex;
  & > span {
    display:inline-block;
    flex-shrink: 0;
  }
  .tNum{
    width:$t1;
    font-size:12px;
  }
  .tDate{
    width:$t2;
    input{
      padding:0 10px;
      font-size:12px;
    }
  }
  .tText {
    width: calc( 100% - #{$t1+$t2+$t4+$t5+$t6+$t7});
    // flex-grow:1;
  }
  .tCategory{
    width:$t4;
  }
  .tType{
    width:$t5;
    button {
      display:flex;
      gap:5px;
      justify-content: center;
      align-items: center;
      width:100%;
      font-size:14px;
      padding:0;
      border-color: transparent;
      i {
        width:14px;
        height:14px;
      }
    }
    
  }
  .tAmount{
    width: $t6;
    text-align: right;
    input{
      text-align: right;
    }
  }
  .tInit{
    width:$t7;
    text-indent: -9999px;
    button {
      i {
        transition: var(--transition-color);
      }
      &:hover, &:focus {
        i {
          color:$color-red;
        }
      }
    }
    
  }
  .center{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
.income {
  color:$color-blue;
}
.expense{
  color: $color-red;
}

.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  .btnWrap{
    display:flex;
    gap:10px;
  }
  .addBtn{
    font-size:14px;
  }
  .total{
    display:flex;
    gap:5px;
    .txt {
      font-size:14px;
      strong{
        font-weight: 500;
        font-size:16px;  
      }
    }
  }
}

.summaryBtn{
  display:flex;
  gap:10px;
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid var(--color-line);
  & > button {
    &:first-child{
      width: 100px;
    }
    &:last-child{
      width: calc(100% - 100px);
    }
  }
}