
.headWrap{
  display:flex;
  justify-content: space-between;
  padding:20px 15px;
  border-bottom: 1px solid var(--color-line);
}
.heading{
  display:flex;
  align-items: center;
  gap:5px;
  .date{
    font-size:14px;
  }
}