.total{
  position:relative;
  padding:20px 15px;
}
.summary{
  display:flex;
  gap:20px;
  .box{
    width: calc((100% - 40px) / 3);
    padding:20px;
    border:1px solid var(--color-line);
    border-radius:5px;
  }
  .info{
    text-align: right;
  }
  .amount{
    display:flex;
    gap:5px;
    justify-content: end;
    align-items: end;
    margin-top:20px;
    .num{
      position:relative;
      font-size:28px;
      padding-left:20px;
      &::before{
        position:absolute;
        top:50%;
        left:0;
        transform: translateY(-50%)
      }
    }
    &.income{
      .num{
        &::before{
          color:$color-blue;
          content:'+';
        }
      }
    }
    &.expense{
      .num{
        &::before{
          color:$color-red;
          content:'-';
        }
      }
    }
    &.save{
      .num{
        &::before{
          color:$color-green;
          content:'=';
        }
      }
    }
  }
  .totalCount{
    margin-top:15px;
    text-align: right;
  }
}