.visual{
  overflow: hidden;
  position: relative;
  min-height: 500px;
  height: calc(100svh - var(--header-h));
  background: $color-black;
  
  // 메인 빛
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    height: 70%;
    background: linear-gradient(
      180deg,
      rgba(139, 1, 167, 0.2) 0%,
      rgba(5, 86, 139, 0.3) 40%,
      rgba(0, 153, 255, 0) 100%
    );
    box-shadow: 0 0 50px rgba(0, 153, 255, 0.1);
    transform: translateX(-50%);
    filter: blur(40px);
    opacity: 0;
    border-radius: 50%;
    animation: dropLight 15s ease-in-out infinite;
    pointer-events: none;
  }
  
  // 외곽 그림자/글로우 효과
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 80%;
    // ellipse at center 타원형 그라데이션
    // transparent 70% 투명
    background: radial-gradient(
      ellipse at center,
      rgba(165, 32, 154, 0.4) 0%,
      rgba(109, 35, 98, 0.4) 30%,
      transparent 70%
    );
    transform: translateX(-50%);
    filter: blur(30px);
    opacity: 0;
    animation: dropLight 15s 7s ease-in-out infinite;
    pointer-events: none;
  }
}

@keyframes dropLight {
  0% {
    transform: translate(-50%, -510px);
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, calc(100svh - var(--header-h)));
    opacity: 0;
  }
}

.center{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:50%;
  left:50%;
  width:70%;
  height:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  pointer-events: none;
}
.title{
  position: relative;
  z-index:1;
  font-size:48px;
  color: $color-title-w;
  & > span {
    gap:10px;
  }
}
.sub-text{
  display: flex;
  gap:10px;
  flex-direction: column;
  position: absolute;
  bottom:0;
  right:0;
}