
.project{

}
.heading{
  max-width:$bp-tablet;
  margin: 0 auto;
  padding: 0 30px;
}

.full-title-carousel{
  :global{ 
    .swiper {
      width:100%;
      padding:0 calc((100vw - $bp-tablet) / 2);
    }
  }
}

.portfolio {
  .box{
    width:100%;
    height:400px;
    padding:20px 15px;
    border-radius:5px;
    background-color:$color-gray;
  }
}
.client {
  :global{
    .swiper-slide{
      width:200px;
    }
  }
  .box{
    width:100%;
    height:80px;
    border-radius:5px;
    background-color:$color-gray;
  }
}

@include tablet-mob {
  .lists-wrap{

  .lists{
    display: flex;
    gap: 20px;
    padding: 0 30px;
    min-width: max-content;
  }
}

}