
.confirmModal{
  text-align:center;
  &.left{
    text-align:left;
    .btnWrap{
      justify-content: start;
    }
  }

  &.right{
    text-align:right;
    .btnWrap{
      justify-content: end;
    }
  }
}
.btnWrap{
  display:flex;
  justify-content: center;
  gap:5px;
  margin-top:20px;
}

