.guide{
  position:relative;
  width:100%;
  max-width:$bp-pc;
  margin: 0 auto;
  padding-top: var(--header-h);
  .inner{
    position:relative;
  }
  [class^="guide-cont"]{
    padding:0 30px 30px;
  }
  
}
// side menu
.titleLink{
  display:flex;
  gap:10px;
  align-items: center;
  .icon{
    flex-shrink: 0;
    display:inline-block;
    width:36px;
    height:36px;
    padding:5px;
    border-radius:10px;
    background-color: $color-navy;
    color: $color-white; 
  }
  .title{
    font-size:24px;
    @include ellipsis();
  }
}
.fold{
  padding:18px 10px 20px;
  .titleLink{
    justify-content: center;
    .icon {
      & + span { 
        display:none;
      }
    }
  }
}
// cont
.breadcrumbWrap{
  padding:20px 30px;
  border-bottom:1px solid var(--color-line);
}

@include mob {
  .guide{
    padding:0;
    [class^="guide-cont"]{
      padding:20px 15px 30px;
    }
  }
  .guideNavLists {
    h2 {
      display:inline-block;
    }
  }
  .titleLink{
    .icon{
      display:inline-block;
      width:40px;
      height:40px;
      padding:5px;
      border-radius:10px;
      background-color: $color-navy;
      color: $color-white; 
    }
  }
  .breadcrumbWrap{
    padding:15px;
  }
}

[data-theme='dark'] {
  .titleLink{
    .icon{
      background-color: $color-white;
      color: $color-blue;
    }
  }
}