.side{
  display: flex;
  position:relative;
  width:100%;
  margin:0 auto;
  padding:20px 0 0;
  &.inner{
    max-width:$bp-tablet;
    padding: 20px 30px;
  }
}
.menu{
  width:100%;
  transition: max-width 0.3s ease;
}
.menuOpen{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:20px;
  right:0;
  width:30px;
  height:30px;
  border-radius:50%;
  border:1px solid var(--color-line);
  background-color: var(--color-origin);
  transition: var(--transition-bg), var(--transition-border);
  transform: translateX(50%);
  .icon{
    display:block;
    width:25px;
    height:25px;
    color:var(--color);
    transition: var(--transition-color), var(--transition-transform);
  }
  &.fold{ 
    .icon {
      transform: rotate(180deg);
    }
  }
}
.cont{
  flex-grow:1;
  position:relative;
  border-top-left-radius:10px;
  border: 1px solid var(--color-line);
  background-color: var(--color-origin-on);
  box-shadow: var(--box-shadow);
  transition: var(--transition-bg), var(--transition-border);
  min-height: calc(var(--min-h) - 20px);
}
.moMenuBtn{
  display:none;
}

// [data-theme='dark'] {
//   .cont{
//     background-color:$color-dark-bg;
//   }
// }

@include tablet-pc { 
  .menu{
    max-width:250px;
    &.isFold {
      max-width:70px;
      .menuInner{
        padding:0;
      }
    }
  }
  .menuInner{
    position:sticky;
    z-index:2;
    top: calc( var(--header-h));
    max-height: var(--min-h);
    padding:20px 20px 20px 30px;
  }
}
@include mob {
  .side{
    padding:0;
  }
  .menu{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    &.isMoSide {
      position:fixed;
      z-index:100;
      .menuInner{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:1000svh;
        background:#fff;
        padding:20px;
      }
    }
  }
  .menuInner{
    display:none;
  }
  .moMenuBtn{
    display:block;
    overflow:hidden;
    position:absolute;
    top:15px;
    right:15px;
    width: 30px;
    height:30px;
    &.open {
      .close{
        transform:translate(-50%, -50%) scale(1);
      }
      .list{
        transform:translate(-50%, -50%) scale(0);
      }
    }
    .icon {
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      width:25px;
      height:25px;
      transform:translate(-50%, -50%);
      transition: var(--transition-transform), var(--transition-color);
      color:var(--color);
    }
    .close{
      transform:translate(-50%, -50%) scale(0);
    }
    .list{
      transform:translate(-50%, -50%) scale(1);
    }
  }
  .cont{
    width:100%;
    border-radius: 0;
  }
}