.logo {
  
}
.logoWrap{
  display:flex;
  align-items: center;
  gap:5px;
}
.logoCube{
  display:flex;
  flex-wrap:wrap;  
  position:relative;
  width:30px;
  height:30px;
  gap:1px;
  & > span{
    display:block;
    width:calc((100% - 2px) / 3);
    height:calc((100% - 2px) / 3);
    border-radius:2px;
    background:#fff;
    box-shadow: rgba(127, 127, 127, 0.4) 0.5px 0.5px 1px;
    transition: all .3s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    &:hover { 
      background: $color-green;
    }
    &:nth-child(1){  
      animation-name: cube1;
      @keyframes cube1 {
        1.19%{background: var(--color-point);}
        2.38%, 100%{background:#fff;}
      }
    }
    &:nth-child(2){
      animation-name: cube2;
      @keyframes cube2 {
        2.38%, 4.76% {background:#fff;}
        3.57% {background: var(--color-point);}
        64.848%, 93.412%, 100% {transform:translateY(0)}
        71.99%, 86.27% {transform:translateY(calc(100% + 1px))}
      }
    }
    &:nth-child(3){
      animation-name: cube3;
      @keyframes cube3 {
        4.76%, 7.14%, 100% {background:#fff;}
        5.95% {background: var(--color-point);}
      }
    }
    &:nth-child(4){
      animation-name: cube4;
      @keyframes cube4 {
        7.14%, 9.52% {background:#fff;}
        8.33% {background: var(--color-point);}
        29.142%, 57.706%, 100%{transform:translateX(0)}
        36.284%, 50.564% {transform:translateX(calc(100% + 1px))}
      }
    }
    &:nth-child(5){
      animation-name: cube5;
      @keyframes cube5 {
        9.52%, 11.9%, 100% {background:#fff;}
        10.71% {background: var(--color-point);}
      }
    }
    &:nth-child(6){
      animation-name: cube6;
      @keyframes cube6 {
        11.9%, 14.28% {background:#fff;}
        13.09% {background: var(--color-point);}
        29.142%, 57.706%, 100%{transform:translateX(0)}
        36.284%, 50.564% {transform:translateX(calc((100% + 1px) * -1))}
      }
    }
    &:nth-child(7){
      animation-name: cube7;
      @keyframes cube7 {
        14.28%, 16.66% {background:#fff;}
        15.47% {background: var(--color-point);}
        29.142%, 57.706%, 100%{transform:translateX(0)}
        36.284%, 50.564% {transform:translateX(calc(100% + 1px))}
      }
    }
    &:nth-child(8){
      animation-name: cube8;
      @keyframes cube8 {
        16.66%, 19.04% {background:#fff;}
        17.85% {background: var(--color-point);}
        64.848%, 93.412%, 100% {transform:translateY(0)}
        71.99%, 86.27% {transform:translateY(calc((100% + 1px) * -1))}
      }
    }
    &:nth-child(9){
      animation-name: cube9;
      @keyframes cube9 {
        19.04%, 21.42% {background:#fff;}
        20.23% {background: var(--color-point);}
        29.142%, 57.706%, 100%{transform:translateX(0)}
        36.284%, 50.564% {transform:translateX(calc((100% + 1px) * -1))}
      }
    }
  }
}

.logoTitle{
  text-align:left;
  .name {
    display:block;
    font-size:12px;
    line-height:1;
    color:#000;
    & > em { 
      font-weight:600;
      color:  var(--color-point);
    }
  }
}

@include mob {
  .logoCube {
    & > span{
      &:hover { 
        background:#fff;  
      }
    }
  }
}