.header{
  padding:20px 30px;
  border-top: 1px solid var(--color-line);
  :global{ 
    .bullet-lists{
      & > li {
        margin-top:5px;
        &:first-child {
          margin-top:0;
        }
      }
    }
  }
}
.title{
  color:var(--color-title);
}
.descLists{
  margin-top:20px;
}
.desc{
  color:var(--color-desc);
}
.linkLists{
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid var(--color-line);
}