.listsWrap{ 
  margin-top:20px;
  & > ul {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
  }
}
.btn{
  display:flex;
  flex-direction: column;
  align-items: self-start;
  position:relative;
  min-width: 150px;
  padding:20px 15px;
  border:1px solid transparent;
  transition: var(--transition-border);
  @include glass-border;
  &:hover, &:focus{ 
    border-color: var(--color-point);
  }
}
.category {
  padding:3px 4px;
  border-radius:5px;
  background-color: var(--color-point);
  font-size:12px;
  color: var(--color-point-text);
}
.tit{
  margin-top:10px;
  font-size:18px;
  color: var(--color-title);
}
.desc{ 
  margin-top:10px;
  font-size:14px;
  color: var(--color-desc);
}
.empty{
  padding:30px;
  text-align:center;
}

@include mob {
  .btn{
    padding:10px;
  }
  .category {
    padding:2px 4px;
    border-radius:3px;
    font-size:12px;
  }
  .empty{
    padding:20px 15px;
  }
}