.listsWrap{ 
  margin-top:20px;
  & > ul {
    display: flex;
    flex-wrap:wrap;
    gap:10px;
    li { 
      width: calc((100% - 30px) / 4);
    }
  }
}
.btn{
  display:flex;
  flex-direction: column;
  align-items: self-start;
  position:relative;
  width:100%;
  height:100%;
  padding:20px 15px;
  border:1px solid transparent;
  text-align: left;
  transition: var(--transition-border);
  @include glass-border;
  &:hover, &:focus{ 
    border-color: var(--color-point);
  }
}
.category {
  padding:3px 4px;
  border-radius:5px;
  background-color: var(--color-point);
  font-size:12px;
  color: var(--color-point-text);
}
.tit{
  width:100%;
  margin-top:10px;
  font-size:18px;
  @include ellipsis(1);
  color: var(--color-title);
}
.desc{ 
  width:100%;
  margin-top:10px;
  font-size:14px;
  @include ellipsis(2);
  color: var(--color-desc);
}
.empty{
  padding:30px;
  text-align:center;
}
@include tablet {
  .listsWrap{ 
    & > ul {
      & > li {
        width: calc( (100% - 20px) / 3);
      }
    }
  }
}

@include mob {
  .listsWrap{ 
    & > ul {
      gap:10px;
      & > li {
        width: calc( (100% - 10px) / 2);
      }
    }
  }
  .btn{
    width:100%;
    padding:10px;
  }
  .category {
    padding:2px 4px;
    border-radius:3px;
    font-size:12px;
  }
  .empty{
    padding:20px 15px;
  }
}