.header {
  position:fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: var(--header-h);
  margin:0 auto;
  border-bottom:1px solid var(--color-line);
  background-color: var(--color-bg);
  transition: var(--transition-bg), var(--transition-border);
  &.transparent{
    border:none;
    background-color:transparent;
    backdrop-filter: blur(3px);
    color:$color-text-w;
    a {
      color:$color-text-w;
    }
  }
  &.open {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
.inner{
  display:flex;
  justify-content: space-between;
  gap:20px;
  align-items: center;
  height:100%;
  @include contInner;
}
.headerMenu{
  flex-grow:1;
  display:flex;
  align-items: center;
  gap:10px;
  height:100%;
  &.isMobile{
    display:flex;
    flex-direction: column;
    align-items: start;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height: var(--min-h);
    background-color: var(--color-bg);
    transition: var(--transition-bg);
  }
}


[data-theme='dark'] {
  .header{
    &.transparent{
      color:$color-text-w;
    }
  }
}

@include mob {
  .inner{
    gap:10px;
    padding:0 15px;
  }
}