.guideLayout {
  overflow:hidden;
  position:relative;
  width:100%;
  max-width: $bp-max-pc;
  height: var(--min-h);
}
.inner{
  position:relative;
  z-index:2;
  width:100%;
  max-width: $bp-pc;
  margin:0 auto;
  padding:0 30px;
}
.heading{
  padding-top:150px;
}
.title{
  font-size:rem(48px);
  color: var(--color-title);
}
.desc{
  margin-top:15px;
  font-size:rem(18px);
  color: var(--color-desc);
}
.btnNav {
  margin-top: 20px; 
}
.objectSquare{
  position:absolute;
  top:0;
  right:0;
  width:70%;
  height:100%;
}
.objectItem{
  position: absolute;
  top:0;
  right:0;
  width: 70%;
  height: 70%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius:5px;
  background: linear-gradient(135deg, rgba(120, 170, 240, 0.4), rgba(170, 210, 255, 0.5));
  box-shadow: 0 8px 20px rgba(100, 150, 230, 0.2);
  backdrop-filter: blur(4px);
  opacity:0;
  transition: var(--transition-transform);
  transform-origin: right bottom;
  .objText{
    position:absolute;
    top:20px;
    left:20px;
    font-size:14px;
  }
}

@include tablet-mob{ 
  .objectItem{
    width: 500px;
    height: 500px;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        $x: 70% - ($i * 5%);
        $y: ($i - 1) * 14%;
        $rotate: $i * -8deg;
        transform: translate($x, $y) rotate($rotate);
      }
    }
    @keyframes aniObject {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0;
        transform: translate(70%,0) rotate(-5deg);
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@include mob {
  .inner{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }
  .heading{
    position:relative;
    width:100%;
    padding:30px 15px;
    text-align:center;
    background:var(--opacity-bg);
    @include glass-border;
  }
  .title{
    font-size:rem(48px);
    color: var(--color-title);
  }
  .desc{
    margin-top:15px;
    font-size:rem(18px);
    color: var(--color-desc);
  }
}

@include observer {
  .objectItem{
    animation: aniObject 1.5s ease-out both;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        $x: 55% - ($i * 5%);
        $y: ($i - 1) * 12%;
        $rotate: $i * -5deg;
        transform: translate($x, $y) rotate($rotate);
        animation-delay: $i * 0.3s;
      }
    }
    @keyframes aniObject {
      0% {
        transform: translate(50%,0) rotate(-5deg);
        opacity: 0;
      }
      15% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  
}