.visual{
  overflow: hidden;
  position: relative;
  min-height: 500px;
  height: 100svh;
  background-color: $color-black;
}



.center{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index:2;
  top:50%;
  left:50%;
  width:80%;
  height:80%;
  transform:translate(-50%, -50%);
  text-align:center;
  pointer-events: none;
}
.title{
  position: relative;
  font-size:48px;
  color: $color-title-w;
  & > span {
    gap:10px;
  }
}
.subText{
  display: flex;
  gap:10px;
  flex-direction: column;
  position: absolute;
  bottom:0;
  right:0;
}

@include mob {
  .center{
    width:100%;
    padding:0 15px;
    height:80%;
  }
  .subText{
    bottom:15px;
    right:15px;
  }
}