.toastWrap{
  display:flex;
  flex-direction: column;
  gap:10px;
  align-items:center;
  position: fixed;
  z-index: 9999;
  bottom:0;
  left: 50%;
  padding-bottom:10px;
  transform: translateX(-50%);
}
.toast{
  overflow:hidden;
  position:relative;
  border-radius: 5px;
  border-left:none;
  background-color: var(--color-origin-on);
  transition: var(--transition-transform), var(--transition-opacity);
  animation: toastAniUp .3s ease;
  &::before {
    position:absolute;
    top:0;
    left:0;
    width:5px;
    height:100%;
    border:1px solid var(--color-point);
    background-color: var(--color-point);
    content:'';
  }
  &.success{
    &::before {
      border-color: $color-green;
      background-color:$color-green;
    }
    .icon { 
      color: $color-green;
    }
  }
  &.error{
    &::before {
      border-color: $color-red;
      background-color:$color-red;
    }
    .icon { 
      color: $color-red;
    }
  }
  &.show {
    opacity: 1;
    animation: toastAniUp .3s ease;
  }
  &.hide {
    opacity: 0;
    transform: translateY(100%);
  }
}

.mgessage {
  display:flex;
  align-items:center;
  gap:5px;
  padding: 8px 16px;
  border:1px solid var(--color-line);
  border-left:none;
  .icon {
    display:inline-block;
    width:16px;
    height:16px;
    color: var(--color-point);
  }
  .txt {
    font-size:14px;
  }
}

@keyframes toastAniUp { 
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0);
  }
}