.loginBtnWrap {
  display:flex;
  align-items: center;
  position:relative;
}
.btn {
  display:inline-block;
  width:20px;
  height:20px;
}

.menu{
  position:absolute;
  top: calc(100% + 10px);
  left:50%;
  width:120px;
  border-radius:5px;
  border:1px solid var(--color-line);
  background-color: var(--color-origin-on);
  transform: translate(-50%, -10px);
  opacity:0;
  transition: var(--transition-opacity), var(--transition-transform);
  ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    li{
      border-top:1px solid var(--color-line);
      &:first-child {
        border-top:0;
      }
    }
  }
  &.open {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
  &.off {
    transform: translate(-50%, -10px);
    opacity: 0;
  }
}
.navLink{
  display:flex;
  align-items: center;
  gap: 10px;
  padding:10px;
  width:100%;
  i {
    width:15px;
    height:15px;
    color:var(--color-text);
    transition: var(--transition-color);
  }

  span{
    font-size:14px;
    transition: var(--transition-color);
    color:var(--color-text);
  }
}