.previewText{
  overflow: hidden;
  position:absolute;
  z-index:5;
  top:100%;
  margin-top:2px;
  width:100%;
  min-height:100%;
   padding:5px 0;
  border: 1px solid var(--color-line);
  border-radius:5px;
  background-color: var(--color-origin);
}
.inner{
  @include scroll;
  height:100%;
  max-height: calc(40px * 6);
}
.btn {
  width:100%;
  min-height:40px;
  padding:0 15px;
  line-height:40px;
  text-align:left;
  @include ellipsis();
  &:hover, &:focus {
    background-color: $color-yellow-bg;
  }
}
.empyt {
  padding:0 15px;
  line-height:40px;
}
[data-theme='dark'] {
  .btn{
    &:hover, &:focus {
      background-color: $color-black;
    }
  }
}