.hljsWrap{
  display: flex;
  overflow: hidden;
  position:relative;
  border-radius:5px;
}

.hljsNumbers {
  display: flex;
  flex-direction: column;
  position:relative;
  padding:10px;
  user-select: none;
  background-color: $color-dark-navy;
  color: #7e7c92;
  &::after{
    position:absolute;
    top:0;
    right:0;
    width:1px;
    height:100%;
    background: linear-gradient(
      to bottom,
      rgba(126, 124, 146, 0) 0%,
      rgba(126, 124, 146, 1) 25%,
      rgba(126, 124, 146, 1) 75%,
      rgba(126, 124, 146, 0) 100%
    );
    content:'';
  }
  .number{
    font-size:14px;
    line-height:22px;
  }
}
.hljsPre {
  flex: 1;
  overflow-x:auto;
  margin:0;
  padding:0 10px;
  background-color: $color-dark-navy;
}

.hljsToolbar{
  display:flex;
  gap:10px;
  position:absolute;
  bottom:10px;
  right:10px;
  .badgeLanguage, .copyButton {
    padding:5px 8px;
    border-radius:5px;
    border:0;
    background: var(--color-point);
    font-size:14px;
    font-weight:400;
    line-height:1;
    color:#fff;
  }
}

:global {
  .hljs-wrap{
    .hljs{ 
      padding:10px 200px 10px 0;
      background-color: $color-dark-navy;
      line-height:22px;
    }
  }
}

@include mob {

  :global {
  .hljs-wrap{
    .hljs{ 
      padding:10px;
      background-color: $color-dark-navy;
      line-height:22px;
    }
  }
}
}