.notLoad {
  padding:20px;
  text-align: center;
}
.backBtn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top:20px;
  padding:10px;
  border-radius:10px;
  border:1px solid var(--color-line);
  transition: var(--transition-bg), var(--transition-color);
  &:hover, &:focus {
    background-color: var(--color-bg);    
  }
  .icon{
    display:inline-block;
    width:20px;
    height:20px;
  }
}