.app {
  position:relative;
  width:100%;
  max-width:$bp-max-pc;
  min-width:320px;
  margin:0 auto;
}
.contents{
  position:relative;
  background-color: var(--color-bg);
  transition: var(--transition-bg);
}