.app {
  position:relative;
  width:100%;
  max-width:$bp-max-pc;
}
.contents{
  position:relative;
  padding-top: var(--header-h);
  background-color: var(--color-bg);
  transition: var(--transition-bg);
}