.bp {
  display:flex;
  flex-direction: column;
  gap:20px;
}
.btn{
  width:150px;
  padding:5px 10px;
  border:1px solid var(--color-line);
  border-radius:5px;
  background-color: #fff;
  color:var(--color-point);
  transition: var(--transition-bg), var(--transition-color);
  &:hover, &:focus {
    background-color: var(--color-point);
    color:#fff;
  }
}

.breakpointLists{
  display: flex;
  flex-wrap:wrap;
  gap:20px;
  margin-top:20px;
  & > li {
    position:relative;
    width:150px;
  }
}
.breakpointItem{
  overflow:hidden;
  position:relative;
  width:100%;
  border-radius:5px;
  box-shadow: var(--box-shadow);
  .breakpointView{
    position:relative;
    height:70px;
    border-bottom:1px solid var(--color-line);
    &::before {
      position:absolute;
      top:50%;
      left:50%;
      width:100%;
      height:2px;
      border-top:2px dotted var(--color-line);
      transform: translate(-50%, -50%);
      content:'';
    }
  }
  .btnToken{
    width:100%;
    padding:10px 10px;
    border: 2px solid transparent;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: var(--color-origin);
    text-align:left;
    color: var(--color-text);
    transition: var(--transition-border);
    &:hover, &:focus {
      border-color: var(--color-line-black);
    }
  }
}
.arrowText{
  display:inline-block;
  position:absolute;
  top:50%;
  z-index:1;
  transform: translateY(-50%);
  & > span {
    display:inline-block;
    padding:2px;
    font-size:14px;
    color: var(--color-text);
  }
  &.size {
    left:50%;
    width:100%;
    transform: translate(-50%, -50%);
    & > span {
      display:inline-block;
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    &::before, &::after{
      position:absolute;
      top:50%;
      width:14px;
      height:14px;
      border:1px solid var(--color-point);
      transform: translateY(calc(-50% - 1px)) rotate(45deg);
      content:'';
    }
    &::before{
      left:3px;
      border-top:none;
      border-right:none;
    }
    &::after{
      right:3px;
      border-left:none;
      border-bottom:none;
    }
  }
  &.min, &.max {
    &::before {
      position:absolute;
      top:-70%;
      left:50%;
      transform: translateX(-50%);
      font-size:12px;
      color: var(--color-sub-text);
    }
  }
  &.min {
    left:0;
    padding-left:5px;
    border-left:2px solid var(--color-point);
    border-radius:5px;
    &::before {
      content:'min'
    }
  }
  &.max {
    right:0px;
    padding-right:5px;
    border-right:2px solid var(--color-point);
    border-radius:5px;
    &::before {
      content:'max'
    }
  }
}