.preview{
  display:flex;
  align-items: center;
  gap:10px;
  margin-top:20px;
}
.inputItem{

}
.previewText {
  margin-top:20px;
}
.textitem{
  display:flex;
  gap:10px;
  margin-top:8px;
  font-size:18px;
  &:first-child{
    margin-top:0;
  }
  &.active{
    color: var(--color-point); 
  }
  .tit{
    font-weight:600;
  }
}

@for $i from 1 through 9 {
  .textitem:nth-child(#{$i}) .text {
    font-weight: $i * 100;  // 100, 200, 300... 900
  }
}