.checkbox{
  $size: 18px;
  display:flex;
  gap:5px;
  align-items: center;
  input {
    position:absolute;
    top:-20px;
    left:-20px;
    width:1px;
    height:1px;
    opacity:0;
    &:checked + .check {
      border:1px solid var(--color-point);
      background-color: var(--color-point);
      color: var(--color-point-text);
      & > svg { 
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .check{
    position:relative;
    width:$size;
    height:$size;
    border-radius:5px;
    border:1px solid var(--color-line);
    & > svg {
      position:absolute;
      top:50%;
      left:50%;
      width:90%;
      height:90%;
      transform: translate(-50%, -50%) scale(0);
      transition: var(--transition-transform);
    }
  }
  .tit{
    line-height: $size;
  }
}