.switch {
  position: relative;
  cursor:pointer;
}
.input{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}
.switch-btn {
  display: block;
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 40px;
  background-color: $color-white;
  border-radius: 30px;
  box-shadow:
    inset 1px 1px 3px rgba(0, 0, 0, 0.4),
    inset 1px 0px 3px rgba(60, 64, 90, 0.15);
  transition: box-shadow 0.3s ease;
}

.switch-mode {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color:#fff;
  background: linear-gradient(109.93deg, rgba(255, 255, 255, 1) 19.96%, rgba(235, 235, 235, 1) 83.79%);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(60, 64, 90, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 체크된 상태 */
.input:checked + .switch-btn {
  .switch-mode{
    transform: translatex(calc(100% + 2px));
  }
}

.input:checked + .track .sun {
  opacity: 0;
  transform: scale(0.5);
}

.input:checked + .track .moon {
  opacity: 1;
  transform: scale(1);
}

.input:focus-visible + .switch-btn {
  outline: 2px solid $color-black;
  outline-offset: 1px;
}
