@use './variables' as *;

// ~ 1920px
@mixin max-pc {
  @media screen and (max-width: #{$bp-max-pc}) {
    @content;
  }
}

// 1440px ~
@mixin large-pc {
  @media screen and (min-width: #{$bp-pc}) {
    @content;
  }
}

// 1140px ~
@mixin pc {
  @media screen and (min-width: #{$bp-tablet}) {
    @content;
  }
}

// 1140px ~ 1439px
@mixin small-pc {
  @media screen and (min-width: #{$bp-tablet}) and (max-width: #{($bp-pc - 1px)}) {
    @content;
  }
}

// 768px ~
@mixin tablet-pc {
  @media screen and (min-width: #{$bp-mob}) {
    @content;
  }
}

// 768px ~ 1139px
@mixin tablet {
  @media screen and (min-width: #{$bp-mob}) and (max-width: #{($bp-tablet - 1px)}) {
    @content;
  }
}

// ~ 1139px
@mixin tablet-mob {
  @media screen and (max-width: #{($bp-tablet - 1px)}) {
    @content;
  }
}

// ~ 767px
@mixin mob {
  @media screen and (max-width: #{($bp-mob - 1px)}) {
    @content;
  }
}

// ~ 450px
@mixin small-mob {
  @media screen and (max-width: #{($bp-small-mob - 1px)}) {
    @content;
  }
}

@mixin scroll($direction: 'y', $width: 5px) {
  @if $direction =='y' {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: $width;
    padding-bottom: 0;
  }

  @else if $direction =='x' {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: $width;
    padding-right: 0;
  }

  @else {
    overflow: auto;
    padding-bottom: $width;
    padding-right: 0;
  }

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-disabled;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-gray;
    border-radius: calc($width / 2);
  }
}

@mixin ellipsis($lineClamp: 1, $lineHeight: 1.5) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineClamp;
  line-height: $lineHeight;
  text-overflow: ellipsis;
  max-height: $lineClamp * $lineHeight * 1em;
}

@mixin glass-border($line: 1px, $radius: 10px) { // 라인 두께 및 radius
  border-radius: $radius;
  &::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    inset: 0;
    padding: $line;
    border-radius: $radius;
    background: var(--glass-line);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    will-change: transform;
  }
}

@mixin skeleton($bg: #ebebeb) {
  overflow: hidden;
  position: relative;
  background: $bg;
  pointer-events: none;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,1) 10%,
      rgba(255,255,255,0) 20%
    );
    animation: skeletonAni 1.5s infinite linear;
  }
}
@keyframes skeletonAni {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}


// data-observer 사용하는 경우
@mixin observer {
  [data-observer="true"] {
    @content;
  }
}