@use './variables' as *;

// ~ 1920px
@mixin max-pc {
  @media screen and (max-width: #{$bp-max-pc}) {
    @content;
  }
}

// 1440px ~
@mixin large-pc {
  @media screen and (min-width: #{$bp-pc}) {
    @content;
  }
}

// 1140px ~
@mixin pc {
  @media screen and (min-width: #{$bp-tablet}) {
    @content;
  }
}

// 1140px ~ 1439px
@mixin small-pc {
  @media screen and (min-width: #{$bp-tablet}) and (max-width: #{($bp-pc - 1px)}) {
    @content;
  }
}

// 768px ~
@mixin tablet-pc {
  @media screen and (min-width: #{$bp-mob}) {
    @content;
  }
}

// 768px ~ 1139px
@mixin tablet {
  @media screen and (min-width: #{$bp-mob}) and (max-width: #{($bp-tablet - 1px)}) {
    @content;
  }
}

// ~ 1139px
@mixin tablet-mob {
  @media screen and (max-width: #{($bp-tablet - 1px)}) {
    @content;
  }
}

// ~ 767px
@mixin mob {
  @media screen and (max-width: #{($bp-mob - 1px)}) {
    @content;
  }
}

// ~ 450px
@mixin small-mob {
  @media screen and (max-width: #{($bp-small-mob - 1px)}) {
    @content;
  }
}

@mixin scroll($direction: 'x', $width: 5px) {
  @if $direction == 'y' {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: $width;
    padding-bottom: 0;
  } @else if $direction == 'x' {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: $width;
    padding-right: 0;
  } @else {
    overflow: auto;
    padding-bottom: $width;
    padding-right: 0;
  }
  
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-disabled;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray;
     border-radius: calc($width / 2);
  }
}

@mixin ellipsis($lineClamp: 1, $lineHeight: 1.5) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineClamp;
  line-height: $lineHeight;
  text-overflow: ellipsis;
  max-height: $lineClamp * $lineHeight * 1em;
}
