@use './_variables' as *;
@use './_mixins' as *;
@use './_function' as *;

// 기본 폰트 사이즈 지정
html {
  font-size: 16px;
  // 768px ~ 1139px
  @include tablet {
    font-size: 14px;
  }
  // ~ 767px
  @include mob {
    font-size: 12px;
  }
}

:root {
  --h: #{$headHeight};
}