@use './_variables' as *;
@use './_mixins' as *;
@use './_function' as *;

// 기본 폰트 사이즈 지정
html {
  font-size: 16px;
  // ~ 1139px
  @include tablet-mob {
    font-size: 14px;
  }
}

:root {
  --min-h: #{calc(100svh - $headHeight)};
  --header-h: #{$headHeight};
  --transition-d : #{$transitionDuration};
  --transition-w: width #{$transitionDuration} ease;
  --transition-color: color #{$transitionDuration} ease;
  --transition-bg: background-color #{$transitionDuration} ease;
  --transition-border: border-color #{$transitionDuration} ease;
  --transition-shadow: box-shadow #{$transitionDuration} ease;
  --transition-opacity: opacity #{$transitionDuration} ease;
  --transition-transform: transform #{$transitionDuration} ease;
}