// break point
$bp-max-pc: 1920px;
$bp-pc: 1440px;
$bp-tablet: 1140px;
$bp-mob: 768px;
$bp-small-mob: 450px;

// color
$color-black:#050b21;
$color-white:#fcfcfc;
$color-gray:#898a8d;
$color-red:#e8392c;
$color-green:#0C9463;
$color-yellow:#ffb000;
$color-yellow-bg:#f6f3ee;
$color-blue:#395acc;
$color-blue-bg:#e3e4fc;
$color-navy:#333A73;
$color-dark-navy:#03053a;
$color-disabled:#e7ebee;
$color-line:#dbdbdb;
$color-line-black:#40444b;
// color opacity
$opacity-w:rgba(255,255,255,0.5);
$opacity-b: rgba(5,11,33,0.5);

// tit & text ligh
$color-title-b:#353844;
$color-text-b:#42464d;
$color-desc-b:#495057;
$color-sub-text-b:#8d9095;
// tit & text dark
$color-title-w:#f1f3f5;
$color-text-w: #e9ecef;
$color-desc-w:#dee2e6;
$color-sub-text-w:#adb5bd;  

// dark & light 전용
$color-dark-bg:#2a2d3e;
$color-dark-bg-on:#454864;

$glass-border-w:linear-gradient(135deg,
  rgba(137,138,141,0.9) 0%,
  rgba(137,138,141,0.4) 15%,
  rgba(255,255,255, 0.15) 30%,
  rgba(255,255,255, 0.02) 85%,
  rgba(137,138,141,0.9) 100%
);
$glass-border-b:linear-gradient(135deg,
  rgba(255,255,255,0.9) 0%,
  rgba(255,255,255,0.4) 15%,
  rgba(53,56,68,0.15) 30%,
  rgba(53,56,68,0.02) 85%,
  rgba(255,255,255,0.9) 100%
);
// box shadow
$shadow-w:0 4px 20px rgba(255, 255, 255, 0.2);
$shadow-b:0 2px 8px rgba(0, 0, 0, 0.15);
$shadow-text-w: 0px 2px 2px rgba(255, 255, 255, 0.4);
$shadow-text-b: 0px 1px 2px rgba(0,0,0,0.2);

// etc 
$headHeight:50px;
$transitionDuration: 0.3s;
$timingOut : cubic-bezier(.16, 1, .3, 1);
$fadeUp: fadeUpAni $transitionDuration ease both;
$fadeDown : fadeDownAni $transitionDuration ease both;

@keyframes fadeUpAni {
  from { opacity:0; transform: translateY(10px); }
  to { opacity:1; transform: translateY(0px); }
}
@keyframes fadeDownAni {
  from { opacity:1; transform: translateY(0); }
  to { opacity:0; transform: translateY(10px); }
}