// break point
$bp-max-pc: 1920px;
$bp-pc: 1440px;
$bp-tablet: 1140px;
$bp-mo: 768px;
$bp-small-mo: 450px;

// color
$color-black:#050b21;
$color-white:#F8F9FA;
$color-gray:#898a8d;
$color-red:#e8392c;
$color-green:#0C9463;
$color-yellow:#FFB000;
$color-blue:#395acc;
$color-navy:#333A73;
$color-dark-navy:#03053a;
$color-disabled:#e7ebee;
$color-line:#dbdbdb;
$color-line-black:#40444b;
// color opacity
$opacity-w:rgba(255,255,255,0.7);
$opacity-b: rgba(0,0,0,0.7);

// tit & text
// ligh 기준
$color-title-b:#353844;
$color-text-b:#42464d;
$color-desc-b:#495057;
$color-sub-text-b:#8d9095;
// dark 기준 
$color-title-w:#f1f3f5;
$color-text-w: #e9ecef;
$color-desc-w:#dee2e6;
$color-sub-text-w:#adb5bd;  

// dark & light 전용
$color-dark-bg:#2a2d3e;
$color-dark-bg-on:#454864;

// box shadow
$shadow-w:0 4px 20px rgba(255, 255, 255, 0.2);
$shadow-b:0 2px 8px rgba(0,0,0,0.2);

// etc 
$headHeight:55px;
$transitionDuration: 0.3s;