@use './_variables' as *;
@use './_mixins' as *;
@use './_function' as *;

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: var(--color-text);
}

img {
  width: 100%;
  max-width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,
.title,.tit,.tit-s {
  letter-spacing: -0.4px;
}

a {
  display: inline-block;
  color: var(--color-text);
}

// title
.title {
  font-size: rem(24px);
  font-weight: 600;
}

.tit {
  font-size: rem(18px);
  font-weight: 600;
}

.tit-s {
  font-size: rem(16px);
  font-weight: 600;
}

// color
.title,
.tit,
.tit-s {
  color: var(--color-title);
}

.text {
  color: var(--color-text);
}

.desc {
  color: var(--color-desc);
}

.txt,
.text-s,
.txt-s {
  color: var(--color-sub-text);
}

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pc-only {
  display: block;
}

.mo-only {
  display: none;
}

.cont-inner {
  width: 100%;
  max-width: $bp-tablet;
  margin: 0 auto;
  padding: 0 30px;
}

.bullet-lists{ 
  & > li {
    position:relative;
    padding-left:12px;
    color:var(--color-text);
    &::before{
      position: absolute;
      top: 9px;
      left: 0px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--color-text);
      content: "";
    }
  }
}
@include mob {
  .pc-only {
    display: none;
  }

  .mo-only {
    display: block;
  }

  .cont-inner {
    padding: 0 15px;
  }

}