.label{
  display:block;
}
.input {
  display:block;
  width:100%;
  height:40px;
  padding:0 16px;
  border:1px solid var(--color-line);
  border-radius:5px;
  font-size:14px;
  color: var(--color-text);
  outline: none;
  transition: var(--transition-border), var(--transition-color), var(--transition-bg);
  line-height:1;
  &::placeholder {
    color: var(--color-sub-text);
  }
  &:focus {
    border-color: var(--color-point);
  }
  &.disabled, &:disabled { 
    color:$color-sub-text-b;
    background-color: $color-disabled;
  }
  &.line-bottom{
    outline:0;
    border-radius:0;
    border:none;
    border-bottom:1px solid var(--color-line);
  }
  &.error{
    color: $color-red;
    border-color: $color-red;
    &::placeholder {
      color: $color-red;
    }
  }
  &.line-none {
    border-color:transparent;
  }
  
}

[data-theme='dark'] {
  .input {
    background-color: $color-dark-bg-on;
  }
}