.label{
  display:block;
}
.input {
  display:block;
  width:100%;
  height:40px;
  padding:0 16px;
  border:1px solid var(--color-line);
  border-radius:5px;
  font-size:14px;
  color: var(--color-text);
  outline: none;
  transition: var(--transition-border), var(--transition-color);
  line-height:1;
  &:focus {
    border-color: var(--color-point);
  }
  &.error{
    color: $color-red;
    border-color: $color-red;
  }
  &.disabled, &:disabled { 
    color:$color-sub-text-b;
    background-color: $color-disabled;
  }
}

[data-theme='dark'] {
  .input {
    background-color: $color-dark-bg-on;
  }
}