.formModule{
  width:100%;
}
.formInner{
  display:flex;
  flex-direction: column;
  gap:10px;
  width:100%;
}
.requiredText{
  text-align: right;
  font-size:14px;
  font-weight: 500;
  &::before{
    color:$color-red;
    margin-right:2px;
    font-size:12px;
    content:'*';
  }
}
.tit{
  font-size:rem(18px);
  font-weight:500;
  &.required{
    position:relative;
    &::after{
      position:absolute;
      margin-left:2px; 
      font-size:12px;
      color:$color-red;
      content:'*';
    }
  }
}
.item{
  position:relative;
}
.inputItem{
  input {
    margin-top:5px;
  }
  &.error{
    .tit, .desc {
      color:$color-red;
    }
  }
}
.desc{
  margin-top:5px;
  min-height:18px;
  font-size:12px;
  color: var(--color-sub-text);
}
.btnWrap{
  margin-top:20px;
}
