.errorPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
  background-color: $color-disabled;
  color: #f9fafb;
  box-sizing: border-box;
}

.inner {
  max-width: 480px;
  width: 100%;
  padding: 30px 15px;
  border-radius: 5px;
  text-align: center;
  background: $color-white;
  box-shadow: $shadow-b;
}

.title {
  font-size: 22px;
  color: $color-title-b;
}

.desc {
  margin-top:10px;
  font-size:14px;
  color: $color-desc-b;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top:20px;
}

.timerText {
  font-size: 12px;
  color: $color-sub-text-b;
}


@media (min-width: 768px) {
  .inner {
    padding: 40px 32px 32px;
  }

  .code {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 15px;
  }
}
